<h2>お気に入り一覧</h2>
<table>
  <tr>
    <th>投稿者</th>
    <th>投稿内容</th>
    <th>画像</th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
  <td><%= favorite.picture.user.name%></td>
  <td><%= favorite.picture.content %></td>
    <td><%= image_tag favorite.picture.image.url, size:'200x200' %></td>
    <td><%= link_to 'お気に入りを確認する', picture_path(favorite.picture.id) %></td>
  </tr>
<% end %>
</table>
  
<%= link_to '投稿一覧', pictures_path %>  